<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>{% include "depheader.html" %}
<table width="652" border="0" class="table table-striped">
  <tr>
    <td width="117">#</td>
    <td width="194">Date</td>
    <td width="319"><p>Status</p></td>
  </tr>
  <tr>
    <td>&nbsp;</td>

    <td colspan="2"><table width="571" >

        <tr>
        <td width="210">&nbsp;</td>
        <td width="345">:  </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>: </td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>