{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<a href="/myprofile">MyProfile</a>#}
{#<br>#}
{#<a href="/view_assign_work">My Work</a>#}
{#<br>#}
{#<a href="/work_status">Work&Status Uploading </a>#}
{#<br>#}
{#<a href="/file_sharing">File Sharing</a>#}
{#<br>#}
{#<a href="/view_attendance">My Attendance</a>#}
{#<br>#}
{#<a href="/send_leave_request">Send Leave Request</a>#}
{#<br>#}
{#<a href="/view_leave_request">My Leave Request</a>#}
{#<br>#}
{#<a href="/send_complaint">My Complaint & Reply</a>#}
{#<br>#}
{##}
{##}
{##}
{##}
{##}
{##}
{#</body>#}
{% include "header.html" %}
{#</html>#}
