<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% include "header.html" %}
<body>
<form action="/view_feedback" method="post">
    <table  class="table table-striped">
  <tr>
    <td width="37">#</td>
    <td width="99">Date</td>
    <td width="215">Reason</td>
    <td width="248">Status</td>
  </tr>
 {% for i in data %}
      <tr>
    <td>{{ loop.index }}&nbsp;</td>
    <td>&nbsp;{{ i['ldate'] }}</td>
    <td>&nbsp;{{ i['lreason'] }}</td>
    <td>{{ i['status'] }}</td>
        
      </tr>

{% endfor %}
</table>
{% include "footer.html" %}
</form>
</body>
</html>
