<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% include "header.html" %}
<body>
<form action="" method="post">
<div class="card-box">
<table  class="table table-striped">
  <tr>
    <td>#</td>
    <td>Complaints</td>
    <td>Date</td>
    <td>Replay</td>

</tr>

 {% for i in data %}
     <tr>
    <td>{{ loop.index }}&nbsp;</td>
    <td>{{ i['complaint1'] }}</td>
    <td>{{ i['cdate'] }}</td>
    <td>{{ i['reply'] }}</td>
    
  </tr>
 {% endfor %}
</table>
</div>
</form>
{% include "footer.html" %}
</body>
</html>


